.email-container {
    display: inline-block;
    margin-right: 50px;
}

.email-container__anchor {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.email-container__circle {
    border-radius: 50%;
    /* border: 1px solid black; */
    min-width: 18px;
    min-height: 18px;
    padding: 5px ;
    background-color: #00B2FF;
    color: white;
    position: absolute;
    top: -5px;
    right: -10px;
}