.pianocontainer {
    height: 370px;
    width: 600px;
    background-color: black;
    border-radius: 8%;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pianokeys {
    display: flex;
    justify-content: center;
    width: 490px;
    position: relative;
}

.pianokeys__white {
    height: 250px;
    width: 70px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #9fa0a4;
}

.pianokeys__black {
    height: 120px;
    width: 35px;
    border-radius: 0 0 3px 3px;
    z-index: 2;
    position: absolute;
    background-color: rgb(36, 35, 35);
} 

.pianokeys__black--one {
    left: 52.5px;
}

.pianokeys__black--two {
    left: 122.5px;
}

.pianokeys__black--three {
    left: 262.5px;
}

.pianokeys__black--four {
    left: 332.5px;
}

.pianokeys__black--five {
    left: 402.5px;
}

.pianokeys--pressed {
    box-shadow: inset 4px -9px 25px -4px rgba(253, 255, 135, 0.932);
}